/*font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Gruppo', cursive;*/


html {
	height: 100%;
}

body {
	background-image: url(../images/starfieldBlue.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
}

/*div[class*="col-"] {
	border: red 1px solid;
}

.row {
	border: yellow 1px dashed;
}*/

.fadeOut {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.gameBox {
	margin-top: 30px;
}

.hud {
	background-color: transparent;
	color: #9bf3ff;
	font-size: 200%;
	font-family: 'Orbitron', sans-serif;
	text-shadow: 2px 2px 20px #0ae0fc;
}

.letter {
	text-align: center;
}

.letterBox {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-top-color: #9bf3ff;
	border-left-color: #9bf3ff;
	border-right-color: #0e6768;
	border-bottom-color: #0e6768;
	/*box-shadow: 3px 3px 10px #0ae0fc;*/
	padding-top: 25px;
	padding-bottom: 25px;
}

.opaque {
	opacity: 1.0;
}

.picked {
	color: #555;
	text-shadow: none;
}

.right {
	float: right;
	text-align: right;
}

.unpicked:hover {
	color: #fff;
	text-shadow: 2px 2px 20px #fff;
	transition: all .5s;
}

#messageDisplay {
	text-align: center;
	color: #fcc7f2;
	text-shadow: 2px 2px 20px #f92cd3;
	font-size: 300%;
	height: 150px;
	-webkit-transition: opacity 3s ease-in-out;
	margin-top: 50px;
}

#muteButton {
	background-color: transparent;
	color: #9bf3ff;
	font-size: 150%;
	text-shadow: 2px 2px 20px #0ae0fc;
	border-style: none;
	position: absolute;
	top: 22px;
	right: 250px;
}

#muteButton:hover {
	color: #fafcea;
	text-shadow: 2px 2px 20px #def957;
	transition: all .5s;
}

#newGameBtn {
	background-color: transparent;
	color: #9bf3ff;
	font-size: 100%;
	font-family: 'Orbitron', sans-serif;
	text-shadow: 2px 2px 20px #0ae0fc;
	border: #9bf3ff 1px solid;
	box-shadow: 2px 2px 20px #0ae0fc;
}

#newGameBtn:hover {
	color: #fafcea;
	text-shadow: 2px 2px 20px #def957;
	box-shadow: 2px 2px 20px #def957;
	border-color: #fafcea;
	transition: all .5s;
}

#solvedDisplay {
	letter-spacing: 20px;
	font-size: 400%;
	text-align: center;
}

/*#spacer {
	position: fixed;
	bottom: 50%;
}*/


#midground {
	background: url(../images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 6px; right: 0; bottom: 0;
	z-index: 200;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 250s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url(../images/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 0% 1300%
	}
}

@-webkit-keyframes FADE-OUT {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}